h1,h3 {
    text-align: center;
}
h1 {
    color:darkolivegreen;
}

h3 {
    color:chocolate;
}

div {
background-color:antiquewhite ;
width:400px;
height: 400px;
}

input {
    padding-left: 20px;
    padding-bottom: 20px;
    padding: 10px;
    border-radius: 10px;

}